*{
  margin: 0;
  padding: 0;
}


.cards-container{
  display: flex;
  flex-wrap: wrap;
    background-color: #4C3A51;

}

.card{
 display: flex; 
 flex-direction: column;
 align-items: center;
 width: 300px;
 height: 600px;
 background-color:#C9BBCF;
 margin: 10px;
 text-align: center;
border-radius: 6px;
    
}


.card p {
  font-size: 15px;
  text-transform: uppercase;
  color: gold;
}

.card p span {
  font-size: 12px;
  color: white;
  text-transform: capitalize;
}

.card img {
  border-radius: 10px;
  cursor: pointer;
  width: 70%;
  margin: 5px;
}

.modal{
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgb(0,0,0, 0.4);
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
}

.modal img{
  cursor:default
}

.close{
  color: white;
  float: right;
  font-size: 50px;
  font-weight: bold;
}

.close:hover,
.close:focus{
  color: gold;
  text-decoration: none;
  cursor: pointer;
}
ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
padding: 26px;
color: gold;

}
nav{
    background-color: #774360;
    margin: 0;
}
